body {
    font-family: Verdana;
    background-color: antiquewhite;
    margin: 24px;
    text-align: center;

}
.__quiz, .__search, #loginForm, #createAccountForm {
    font-family: sans-serif;
    display: inline-block;
    padding: 24px 32px;
    border-radius: 30px;
    background: white;
}   

img {
    width: 350px;
    height: 350px;
}

.hidden {
    display: none !important;
}

#auth button, #loginForm button, #createAccountForm button {
    padding: 10px 20px;
    margin: 5x;
    cursor: pointer;
}